@theme-color: #6d1989;
@theme-disabled-color: rgba(177,99,214,.2);
@text-color: #444;

/**
* header
*/
@header-background-color: @theme-color;

/**
* button
*/
@button-primary-bg-color: @theme-color;
@button-primary-active-bg-color: @theme-color;
@weuiBtnPlainPrimaryColor: @theme-color;
@weuiBtnPlainPrimaryBorderColor: @theme-color;
@weuiBtnPlainPrimaryActiveColor: @theme-color;
@weuiBtnPlainPrimaryActiveBorderColor: @theme-color;
@weuiBtnPrimaryDisabledBg: @theme-disabled-color;

/**
* button-tab
*/
@button-tab-active-background-color: @theme-color;
@button-tab-active-font-color: #fff;
@button-tab-default-text-color: @theme-color;

/**
* switch
*/
@switch-checked-bg-color: @theme-color;
@switch-checked-border-color: @theme-color;

/**
* x-number
*/
@number-button-font-color: @theme-color;
@number-round-button-enabled-border-color: @theme-color;

/**
* swiper
*/
@swiper-indicator-active-color: @theme-color;

/**
* swipeout
*/
@swipeout-button-primary-bg-color: @button-primary-bg-color;

/**
* timeline
*/
@timeline-item-bg-color: @theme-color;

/**
* tab
*/
@tab-text-active-color: @theme-color;
@tab-bar-active-color: @theme-color;
@tab-text-default-color:: @text-color;

/**
* form-preview
*/
@form-preivew-button-primary-color: @theme-color;

/**
* tabbar
*/
@tabbar-text-active-color: @theme-color;

/**
* search
*/
@search-cancel-font-color: @theme-color;

/**
* popup-picker
*/
@popup-picker-header-text-color: @theme-color;

/**
* popup-header
*/
@popup-header-right-text-color: @theme-color;

/**
* actionsheet
*/
@actionsheet-label-primary-color: @theme-color;

/**
* dialog
*/
@dialog-button-text-primary-color: @theme-color;

/**
* x-progress
*/
@weuiProgressColor: @theme-color;

/**
* range
*/
@range-bar-active-color: @theme-color;

/**
* calendar
*/
@calendar-arrow-color: @theme-color;
@calendar-selected-bg-color: @theme-color;
@calendar-today-font-color: @theme-color;


@calendar-highlight-color: #E59313;
@calendar-disabled-font-color: #c0c0c0;
@calendar-date-item-font-size: 16px;
@calendar-bg-color: #fff;
@calendar-each-date-item-size: 26px;
@calendar-each-date-item-line-height: 25px;
@calendar-header-day-item-color: #000;

/**
* week-calendar
*/
@week-calendar-selected-item-bg-color: @theme-color;

/**
* datetime
*/
@datetime-header-item-font-color: @theme-color;
@datetime-header-item-confirm-font-color: @datetime-header-item-font-color;

/**
* icon
*/
@icon-success-color: @theme-color;

/**
* check-icon
*/
@check-icon-color-checked: @theme-color;

/**
* checkbox
*/
@checkbox-icon-color-checked: @theme-color;

/**
* checklist
*/
@checklist-icon-active-color: @theme-color;

/**
* radio
*/
@radio-checked-icon-color: @theme-color;





/*²»¹ÜÓÃ ~~~~(>_<)~~~~ */
@backgroundColor: @theme-color;
@bubbleCorlor: @theme-color;